/* Custom styles */
body {
  font-family: 'Inter', sans-serif;
}

/* Focus states for accessibility */
a:focus,
button:focus,
input:focus,
textarea:focus {
  outline-offset: 2px;
}

/* Mobile menu open state */
#menu.open {
  display: flex !important;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  position: absolute;
  top: 4rem;
  right: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  z-index: 40;
}

.active-link {
  color: #d08700;
  display: block;
  padding: 0.5rem 1.5rem;
  color: #111827;
  font-weight: 500;
  background-color: #fffbeb;
  border-left: 4px solid #fbbf24;

}

.link{
  display: block;
  padding: .5rem 1.5rem;
  color: #4b5563;
  transition: color 0.4s ease, background-color 0.2s ease;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  font-weight: 500;
  }

.link:hover {
  color: #111827;
  background-color: #fffbeb;
  border-left: 4px solid #fbbf24;
}